CompileFlags:
  Add:
    - "-Ibuild/gen"
    - "-Iarch/riscv/include"
    - "-Iinclude"

# Diagnostics:
#   ClangTidy:
#     Add: "*"
#     Remove:
#       - bugprone-narrowing-conversions
#       - readability-redundant-declaration
#       - misc-use-internal-linkage
